body * {
  padding: 0;
  margin: 0;
  color:azure;
  box-sizing: border-box;
}
body {
  background: #161c1f;
}
.container {

  width: 90%;
  margin: auto;
  height: 100svh;
}

.app-header {
  padding: 2rem 0;
  border-bottom: #69b7bd solid 3px;
  
}

h1 {
  font-size: 365%;
  font-weight: 900;
  letter-spacing: 0.4rem;

text-shadow: #69b7bd 5px 5px 0;
}

h2 {
  font-size: 150%;
}

.app-main {
  margin-top: 5rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar > div {
  border-radius: 10px;
  padding: 2rem;
  border: #69b7bd solid 3px;
}
.day-label {
  font-weight: 700;
  font-size: 200%;
}

.day {
display: flex;
flex-direction: column;
align-items: center;
}

.day span{
  font-weight: 300;
  font-size: 400%;
}
div.birthsday, div.current{
  background: #69b7bd;
  color: #161c1f;
}
div.remaining {
  background: #69b7bd55;
}
.red {
  color: #cf1b1b;
  font-weight: 900;
  margin: 0 .5rem;
}
